.navbar-default{
 border-radius: 0px;
}

.navbar-inverse .navbar-nav > li > a {
 color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus
{
 color: #fff;
 background-color: transparent;
 border-bottom: 3px solid #f62329;
 background: url("http://s31.postimg.org/9k42omozb/arrow.png") bottom;
 background-repeat: no-repeat;



}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
 color: #fff;
 background-color: #080808;
 border-bottom: 3px solid #f62329;
 background: url("http://s31.postimg.org/9k42omozb/arrow.png") bottom;
 background-repeat: no-repeat;

}
